<div style="clear:both" ng-show="itemsList.nothingFound">
  Nothing found!
</div>
<div ng-if="itemsList.foundItems.length > 0">
  <table class="table table-hover">
    <tr>
      <th>
        Sl. #
      </th>
      <th>
        Name
      </th>
      <th>
        Short Name
      </th>
      <th>
        Description
      </th>
      <th>
        Remove
      </th>
    </tr>
    <tr ng-repeat="foundItem in itemsList.foundItems">
      <td>
        {{ $index + 1 }}
      </td>
      <td>
        {{ foundItem.name }}
      </td>
      <td>
        {{ foundItem.short_name }}
      </td>
      <td>
        {{ foundItem.description }}
      </td>
      <td>
        <button class="btn btn-danger" ng-click="itemsList.removeItem({index: $index})"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Don't want this one!</button>
      </td>
    </tr>
  </table>
</div>
<div class="error">
  Nothing found
</div>
